.buttonModal {
  display: flex;
  width: 30px;
  height: 30px;
  background: #ED64A6;
  border: 1px solid var(--gray-50);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: var(--gray-50);
  
  transition: background-color, color .5s;

  svg {
    width: 20px;
    height: 20px;
  }
}

.buttonModal:hover {
  background: #EEEEF2;
  border: 1px solid #ED64A6;
  color: #ED64A6;
}