* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --gray-900: "#181B23";
  --gray-800: "#1F2029";
  --gray-700: "#353646";
  --gray-600: "#4B4D63";
  --gray-500: "#616480";
  --gray-400: "#797D9A";
  --gray-300: "#9699B0";
  --gray-200: "#B3B5C6";
  --gray-100: "#D1D2DC";
  --gray-50: "#EEEEF2";

  --pink-400: "#ED64A6";
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 1rem * 93.75% = 16px * 93.75% = 15;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; // 1rem * 87.5% = 16px * 87.5% = 14;
  }
}

body {
  background: #181B23;
  color: #EEEEF2;
}

body, input, textarea, select, button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}