.titleEditModal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonEditModal {
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: auto;
  padding: 0 16px;
  background: #ED64A6;
  border: 1px solid var(--gray-50);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  color: var(--gray-50);
  
  transition: background-color, color .5s;
}

.buttonEditModal:hover {
  background: #EEEEF2;
  border: 1px solid #ED64A6;
  color: #ED64A6;
}

.svgEditModal {
  margin-right: 8px;
}